header{
    text-align: center;
    background-color: black;
    padding: 50px;
    color: gold;
}

body{
    background-color: yellow;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav{
    background-color: black;
    display: flex;
    justify-content: center;
}

nav ul{
    text-decoration: none;
}

nav a{
    text-decoration: none;
    color: gold;
    padding: 30px;
}

nav a:hover{
    background-color: gold;
    color: black;
    padding: 20px;
    cursor: pointer;
    border-radius: 25px;
}

nav a::before,
    nav a::after{
        content: "✨";
}

div{
    margin: 25px;
    background-color: black;
    color: gold;
}

div:hover{
     transform: scale(1.04);
    cursor: pointer;
}

div::after,
div::before{
    content:"✨";
}

.iconoinsta{
    width: 50px;
    height: 50px;
}

footer{
    background-color: black;
    color: gold;
    padding: 20px;
    display: flow-root;
}

.imagenfoter {
    display: block;
    margin-left: auto;  
    margin-right: 0;
    width: 200px; 
    margin-top: -200px; 
}

.iconofece{
    width: 50px;
    height: 50px;
}

.icontiktok{
    width: 50px;
    height: 50px;
}

.botones{
    justify-content: center;
    display: flex;
    gap: 35px;
    background-color: gold;
}

.derecha{
    display: flex;
    justify-content: space-between; 
    padding: 20px;  
}

.dere{
    background-color: gold;
    color: black;
    padding: 40px;
}

.izquierda{
    background-color: gold;
    color: black;
    padding: 40px;
}

.cambio{
    position: absolute;
    left: 50%;
    transform: translateX(-10%);
    border-radius: 25px;
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cambio:hover{
    background-color: gold;
    color: #000;
    cursor: pointer;
    filter: blur(gold);
}

.catalogo{
    box-shadow: 1px 1px 20px black;
}

.exclusivo,
.exclusivo:hover {
    transform: none !important;
}

.exclusivo::after,
.exclusivo::before{
    content: none;
}

.exclusivo{
    display: flex;            
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    gap: 20px;                
}

.ropa{
    width: 200px;
    height: 200px; 
    box-shadow: 1px 1px 20px gold;  
}